{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}Shop{% endblock title %} 
{% block page_css %}



<style>
    .feature-product-container {
        margin: 50px 30px!important;
        color: white;
    }
    
    .feature-product-box-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: white;
    }
    
    .feature-product-box-container>* {
        flex: 1 47%;
    }
    
    .feature-product-box {
        /* width: 500px; */
        max-width: 700px;
        color: white;
        margin-top: 30px;
    }
    
    .feature-product-box .img-container .img-hover img {
        opacity: 1;
        transition: opacity linear .1s;
    }
    .feature-product-box .img-container .img-hover:hover img {
        opacity: 0;
        transition: opacity linear .1s;
    }
    
    @media screen and (max-width: 541px) {
        .feature-product-container {
            margin: 50px 20px!important;
        }
    }
</style>
<style>
    .product-container {
        margin: 50px 30px;
        color: white;
    }
    
    .product-box-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .product-box {
        /* width: 605px; */
        /* max-height: 900px; */
        /* max-height: auto; */
        /* max-width: 900px; */
        color: white;
        position: relative;
        overflow: hidden;
    }
    
    .product-box .img-container img {
        transform: scale(1);
        transition: all linear 10s;
    }
    
    .product-box:hover .img-container img {
        transform: scale(1.5);
        transition: all linear 10s;
    }
    
    .button-container {
        position: absolute;
        left: 10%;
        bottom: 20%;
        z-index: 33333;
    }
    
    @media screen and (max-width: 912px) {
        .product-container {
            margin: 50px 10px;
            color: white;
        }
        .product-box-container {
            flex-wrap: wrap;
        }
        .product-box-container>* {
            flex: 1 50%;
        }
        .product-box {
            height: 350px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .product-container {
            margin: 50px 0px;
            color: white;
        }
    }
    
    @media screen and (max-width: 541px) {
        .product-container {
            margin: 50px 30px;
        }
        .product-box-container>* {
            flex: 1 100%;
        }
        .product-box {
            margin-top: 40px;
            height: auto!important;
        }
    }
</style>
<style>
    .content_button {
        border: 2px solid white;
        display: inline-block;
        position: relative;
        margin-top: 2.5rem;
    }
    
    .content_button .text {
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        display: inline-block;
        padding: 1.6rem 4.5rem;
        text-transform: uppercase;
        font-family: d-din;
        transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .content_button .hover {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #fff;
        z-index: -1;
        transform: scale3d(0, 1, 0);
        transform-origin: right center;
        transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .content_button:hover .hover {
        transform: scale3d(1, 1, 1);
        transform-origin: left center;
    }
    
    .content_button:hover .text {
        color: black;
    }
</style>
<style>
    .product-box .content_button {
        display: inline-block;
        position: relative;
        margin-top: 2.5rem;
        border: 2px solid black;
    }
    
    .product-box .content_button .text {
        color: #fff;
        color: black;
        font-size: 13px;
        font-weight: bold;
        display: inline-block;
        padding: 1.6rem 4.5rem;
        text-transform: uppercase;
        font-family: d-din;
        transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .product-box .content_button .hover {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #fff;
        background: black;
        z-index: -1;
        transform: scale3d(0, 0, 1);
        transform-origin: top center;
        transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .product-box .content_button:hover .hover {
        transform: scale3d(1, 1, 1);
        transform-origin: bottom center;
    }
    
    .product-box .content_button .text div{
        color: black;
    }
    .product-box .content_button:hover .text div{
        color: black;
        color: white;
    }
</style>

{% endblock page_css %} 

{% block content %}
    <!--== banner start ==-->
        <section>
            <div class="head_banner" style=" width: 100%; height: 100%; height: auto;">
                <div style="background-image: url({% static 'app/images/banner/banner.png' %}) background-repeat:no-repeat; background-size: cover;">
                    <img src="{% static 'app/images/banner/banner.png' %}" class="img-fluid" width="100%" height="auto" alt="">
                </div>
            </div>
        </section>
    <!--== banner end ==-->

    <br>
    <br>
    <h3 style="text-align: center; font-size: 30px; text-transform: uppercase; color: white;"> Featured Products</h3>


    
    <div class="feature-product-container">
        <div class="feature-product-box-container">
                {% for featured in featured %}
                <div class="feature-product-box">
                    <a href="{% url 'product-detail' featured.id %}" style="text-decoration: none; color: white;  cursor: pointer;">
                        <div class="img-container" style="background-image: url({{ featured.img2.url }}); background-size: cover; background-repeat: no-repeat;">
                            <div class="img-hover">
                                <img src="{{ featured.img1.url }}" class="img-fluid" width="100%" height="auto" alt="">
                            </div>
                        </div>
                    </a>
                    <div class="details" style="text-align: center; margin-top: 25px;">
                        <a href="{% url 'product-detail' featured.id %}" style="text-decoration: none; color: white;  cursor: pointer;">
                            <div class="product-name" style="display: inline-block;">{{ featured.product_title }}</div><br>
                            <div class="price" style="margin-top: 7px; display: inline-block;">&#8360; &nbsp; {{ featured.selling_price}}</div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <br>
    <div style="text-align: center;">
        <a href="" class="content_button">
            <span class="text">view All products</span>
            <div class="hover"></div>
        </a>
    </div>
    <br><br>


    <div class="product-container">
        <div class="product-box-container">
            <div class="product-box">
                <div class="img-container">
                    <img src="{% static 'app/images/one.png' %}" class="img-fluid" width="100%" height="auto" alt="">
                </div>
                <div class="button-container">
                    <a href="" class="content_button">
                        <span class="text">
                            <div style="font-size: 20px; text-align: center">
                                CATEGORY-1
                            </div>
                            <div>
                                VIEW PRODUCT
                            </div>
                        </span>
                        <div class="hover"></div>
                    </a>
                </div>
            </div>
            <div class="product-box">
                <div class="img-container">
                    <img src="{% static 'app/images/two.png' %}" class="img-fluid" width="100%" height="auto" alt="">
                </div>
                <div class="button-container">
                    <a href="" class="content_button">
                        <span class="text">
                            <div style="font-size: 20px; text-align: center">
                                CATEGORY-2
                            </div>
                            <div>
                                VIEW PRODUCT
                            </div>
                        </span>
                        <div class="hover"></div>
                    </a>
                </div>
            </div>
            <div class="product-box">
                <div class="img-container">
                    <img src="{% static 'app/images/three.png' %}" class="img-fluid" width="100%" height="auto" alt="">
                </div>
                <div class="button-container">
                    <a href="" class="content_button">
                        <span class="text">
                            <div style="font-size: 20px; text-align: center">
                                CATEGORY-3
                            </div>
                            <div>
                                VIEW PRODUCT
                            </div>
                        </span>
                        <div class="hover"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>



{% endblock content %} 

{% block page_js %}
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js files -->
<script src="{% static 'app/js/home.js' %}"></script>
<script src="{% static 'app/js/home2.js' %}"></script>

{% endblock page_js %}