{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Changes Done{% endblock title %}

{% block page_css %}
{% endblock page_css %}


{% block content %}
<span style="position: static; display: inline-block; height: 100px;" class="balance"></span> 
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-2 border-end">
                <h4 style="color: white!important; text-align: center;">CHANGE PASSWORD</h4>
                <hr>
                <ul class="list-unstyled">
                    <li class="d-grid mt-2"><a style="color: white!important;" href="{% url 'profile' %}" class="btn btn-secondary">Profile</a></li>
                    <li class="d-grid mt-2"><a style="color: white!important;" href="{% url 'address' %}" class="btn btn-secondary">Address</a></li>
                    <li class="d-grid mt-2"><a style="color: white!important;" href="{% url 'orders' %}" class="btn btn-secondary">Orders</a></li>
                    <li class="d-grid mt-2"><a href="{% url 'logout' %}" class="btn btn-danger">Logout</a></li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1">
                <div class="" style="text-align: center;">
                    <h3 style="color: white!important; text-align: center;">Your Password Changed Successfully !!</h3>
                    <img src="{% static 'app/images/logo/logo/right.gif' %}" width="500">
                </div>
            </div>
        </div>
    </div>
    <br><br>

{% endblock content %}



{% block page_js %}
{% endblock page_js %}