{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock title %}

{% block page_css %}

{% comment %} style="color: white!important;" {% endcomment %}
{% endblock page_css %}


{% block content %}
<span style="position: static; display: inline-block; height: 100px;" class="balance"></span> 
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-2 border-end">
                <h4 style="color: white!important; text-align: center;">CHANGE PASSWORD</h4>
                <hr>
                <ul class="list-unstyled">
                    <li class="d-grid mt-2"><a style="color: white!important;" href="{% url 'profile' %}" class="btn btn-secondary">Profile</a></li>
                    <li class="d-grid mt-2"><a style="color: white!important;" href="{% url 'address' %}" class="btn btn-secondary">Address</a></li>
                    <li class="d-grid mt-2"><a style="color: white!important;" href="{% url 'orders' %}" class="btn btn-secondary">Orders</a></li>
                    <li class="d-grid mt-2"><a href="{% url 'changepassword' %}" class="btn btn-primary">Change Password</a></li>
                    <li class="d-grid mt-2"><a href="{% url 'logout' %}" class="btn btn-danger">Logout</a></li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1">
                <form action="" method="POST" style="color: white!important; font-weight: normal!important; font-size: 16px;">
                    {% csrf_token %}
    
                    {% for fm in form %}
                        <div class="mb-2">{{ fm.label_tag }}</div><div class="mb-3">{{ fm }}</div> <small class="text-danger">{{ fm.errors | striptags }}</small>
                    {% endfor %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    {% if form.non_field_error %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <br><br>
{% endblock content %}



{% block page_js %}
{% endblock page_js %}