{% extends 'base.html' %}
{% load static %}
{% block title %}JOHNNETTE JF-5{% endblock title %}


{% comment %} {% block google_analytics %}
 <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-248379699-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-248379699-1');
    </script>
{% endblock google_analytics %} {% endcomment %}



{% block meta_tags %}
{% endblock meta_tags %}



{% block head %}
{% endblock head %}
    


{% block page_css %}
{% endblock page_css %}



{% block content %}


{% endblock content %}



{% block page_js %}
    

{% endblock page_js %}


{% static '' %}
