{% extends 'base.html' %}
{% load static %}
{% block title %}Career{% endblock title %}


{% comment %} {% block google_analytics %}
 <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-248379699-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-248379699-1');
    </script>
{% endblock google_analytics %} {% endcomment %}



{% block meta_tags %}
<meta name="keywords" content="johnnette technologies manufactures drone, quadcopter, Fixed Wing UAVs and other Micro Drones in India for Defence, Commercial and Industrial applications">
<meta name="description" content="johnnette technologies manufactures drone, quadcopter, Fixed Wing UAVs and other Micro Drones in India for Defence, Commercial and Industrial applications">
{% endblock meta_tags %}



{% block head %}
    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- custom css file link -->
    <link rel="stylesheet" href="{% static 'css/career.css' %}">

    <!-- to link header footer -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
{% endblock head %}
    


{% block page_css %}
{% endblock page_css %}



{% block content %}

    <!--================ banner ================-->
    <section>
        <div class="head_banner">
            <div class="background_img banner">
                <div class="banner_text">
                    <div>
                        <h1>Discover Your New Career</h1>
                        <p style=" text-align: center;">
                            Explore Opportunities
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--========X======== banner ========X========-->
    <br><br><br>


    <!--============= job description five =============-->
    <section class="job">
        <div class="containerr">
            <div class="jobInfo">
                <div class="box">
                    <div class="text">
                        <h3>1. &nbsp; FIXED WING UAV PILOT</h3>
                        <h4>Responsibilities: - </h4>
                        <p>
                            These pilots will be responsible for the following duties:
                            <ol type="1">
                                <li>Demonstration of our products at client site.</li>
                                <li>Test flight, maintenance and record keeping of our UAV fleet.</li>
                                <li>Keeping the UAVs in flying condition at all times.</li>
                                <li>They should be able to travel in and outside the country for Demonstrations.</li>
                            </ol>
                        </p>
                        <h4>Desired Skills: - </h4>
                        <p>
                            <ol type="1">
                                <li>They Should have logged at least 50 hours of flying fixed-wing drones.</li>
                                <li>Must have good knowledge of ground control station like Mission Planner, QGroundControl.</li>
                                <li>Basic knowledge of electronics.</li>
                                <li>They Should be able to understand and speak basic English.</li>
                                <li>They Should have an understanding of flight operations in different terrains</li>
                            </ol>
                        </p>
                        <p><strong>Experience : &nbsp;&nbsp;</strong> 1-2 Years</p>
                        <p><strong>Location : &nbsp;&nbsp;</strong> Noida (Work from Office)</p>
                        <h4><strong>Number of openings : &nbsp;&nbsp;</strong> 06</h4>
                        <p><strong>Submit Your Resume at : &nbsp;&nbsp;</strong> hr@johnnette.com</p>
                    </div>
                </div>
            </div>
            <div class="jobImg" style="background-image: url({% static 'img/career/fixed-wind-pilot.png' %}); background-size: cover; opacity: 1;">
                <img style="visibility: hidden;" src="{% static 'img/career/fixed-wind-pilot.png' %}" class="img-fluid" alt="video-editor">
            </div>
        </div>
    </section>
    <!--=======X====== job description five =======X======-->

    <!--============= job description four =============-->
    <section class="job2">
        <div class="containerr2">
            <div class="jobImg" style="background-image: url({% static 'img/career/integration-process.png' %}); background-size: cover; opacity: .7;">
                <img style="visibility: hidden;" src="{% static 'img/career/integration-process.png' %}" class="img-fluid" alt="video-editor">
            </div>
            <div class="jobInfo">
                <div class="box">
                    <div class="text">
                        <h3>2. &nbsp; Embedded Hardware Integration Engineer</h3>
                        <h4>Responsibilities: - </h4>
                        <p>
                            <ol type="1">
                                <li>Design, develop and integrate electronic circuits for UAV as per requirements</li>
                                <li>Integration and assembly of electronic modules, sensors, wiring harness, and other subsystems in the UAVs</li>
                                <li>Test, Debug, troubleshoot, and perform analysis on electronic components and systems</li>
                                <li>Assist the senior team with the testing process</li>
                                <li>Prepare relevant documentation and records</li>
                            </ol>
                        </p>
                        <h4>Qualification: -</h4>
                        <p>
                            Diploma/ITI/B.Tech/B.E. in Electronics or any other relevant specialization
                        </p>
                        <h4>Desired Skills: -</h4>
                        <p>
                            <ol type="1">
                                <li>
                                    Candidate must have a sound knowledge of basic electronic components and their working (AC-DC, DC-DC Converters, BMS)
                                </li>
                                <li>
                                    Candidate must have knowledge of microcontroller devices, communication protocols and other sub-systems of embedded devices
                                </li>
                                <li>
                                    Candidate must be familiar with soldering techniques, handling PCBs, working with THT and SMD components.
                                </li>
                                <li>
                                    Candidate must have experience/familiarization with handling testing tools such as Multimeter, and Oscilloscope.
                                </li>
                                <li>
                                    Candidate must have good communication and interpersonal skills
                                </li>
                            </ol>
                        </p>

                        <p><strong>Experience : &nbsp;&nbsp;</strong> 1-2 Years</p>
                        <p><strong>Location : &nbsp;&nbsp;</strong> Noida (Work from Office)</p>
                        <h4><strong>Number of openings : &nbsp;&nbsp;</strong> 02</h4>
                        <p><strong>Submit Your Resume at : &nbsp;&nbsp;</strong> hr@johnnette.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=======X====== job description four =======X======-->

    <!--============= job description five =============-->
    <section class="job">
        <div class="containerr">
            <div class="jobInfo">
                <div class="box">
                    <div class="text">
                        <h3>3. &nbsp; Aerostructure Engineer</h3>
                        <h4>Job Description: - </h4>
                        <p>
                            <ol type="1">
                                <li>
                                    Bachelor's or Master's degree in Aerospace or Aeronautical or Mechanical disciplines
                                </li>
                                <li>
                                    He/she should have basic knowledge of designing software & ANSYS software.
                                </li>
                                <li>
                                    They should have sound knowledge of Aircraft structures and fabrication using composites.
                                </li>
                                <li>
                                    He/she should be able to inspect, maintain and troubleshoot various aspects of airframe and structural components of a drone both in the office and on the field.
                                </li>
                                <li>
                                    Must be detail-oriented, deadline sensitive and able to work effectively in a team setting.
                                </li>
                                <li>
                                    Excellent problem-solving and good communication skills.
                                </li>
                                <li>
                                    Additional preference will be given if one can operate hand and power tools, soldering and fault-testing equipment.
                                </li>
                                <li>
                                    Contributes to the design, manufacturing, and testing of aircraft and aerospace products.
                                </li>
                                <li>
                                    Studies proposed projects to assess safety and feasibility.
                                </li>
                                <li>
                                    Evaluates designs with regard to engineering principles, customer requirements and environmental regulations.
                                </li>
                                <li>
                                    Produces and presents prototypes and models for proposed designs.
                                </li>
                                <li>
                                    Conducts tests on prototypes and models.
                                </li>
                                <li>
                                    Inspects damaged or malfunctioning products to determine the problem and propose solutions.
                                </li>
                                <li>
                                    Determine costs for financial feasibility.
                                </li>
                                <li>
                                    Assists in production of manuals and troubleshooting guides for finished product.
                                </li>
                                <li>
                                    Coordinate with other teams to ensure standards and timelines are met.
                                </li>
                                <li>
                                    Contributes to efforts of the organization by accomplishing related tasks as needed.
                                </li>
                            </ol>
                        </p>
                        <p><strong>Experience : &nbsp;&nbsp;</strong> 1-2 Years</p>
                        <p><strong>Location : &nbsp;&nbsp;</strong> Noida (Work from Office)</p>
                        <h4><strong>Number of openings : &nbsp;&nbsp;</strong> 02</h4>
                        <p><strong>Submit Your Resume at : &nbsp;&nbsp;</strong> hr@johnnette.com</p>
                    </div>
                </div>
            </div>
            <div class="jobImg" style="background-image: url({% static 'img/career/aerospace-engineer.png' %}); background-size: cover; opacity: 1;">
                <img style="visibility: hidden;" src="{% static 'img/career/aerospace-engineer.png' %}" class="img-fluid" alt="video-editor">
            </div>
        </div>
    </section>
    <!--=======X====== job description five =======X======-->

    <!--============= job description four =============-->
    <section class="job2">
        <div class="containerr2">
            <div class="jobImg" style="background-image: url({% static 'img/career/simulation.jpg' %}); background-size: cover; opacity: .7;">
                <img style="visibility: hidden;" src="{% static 'img/career/simulation.jpg' %}" class="img-fluid" alt="video-editor">
            </div>
            <div class="jobInfo">
                <div class="box">
                    <div class="text">
                        <h3>4. &nbsp; Structural and Simulation Engineer</h3>
                        <h4>Job Description: - </h4>
                        <p>
                            <ol type="1">
                                <li>
                                    Bachelor's or Master's degree in Aerospace or Aeronautical disciplines.
                                </li>
                                <li>
                                    1-2 Years of relevant work experience.
                                </li>
                                <li>
                                    Experience in developing designs using CAD tools like Solidworks or equivalent software for modeling and drafting is essential.
                                </li>
                                <li>
                                    Experience in Ansys(fluent) software for product simulation is essential.
                                </li>
                                <li>
                                    They should have sound knowledge of Aircraft structures and fabrication using composites.
                                </li>
                                <li>
                                    Must be detail-oriented, deadline sensitive, and able to work effectively in a team setting.
                                </li>
                                <li>
                                    Excellent problem-solving and good communication skills.
                                </li>
                                <li>
                                    Additional preference will be given if one can operate hand and power tools, soldering, and fault-testing equipment.
                                </li>
                                <li>
                                    Contributes to the design, manufacturing, and testing of aircraft and aerospace products.
                                </li>
                                <li>
                                    Studies proposed projects to assess safety and feasibility.
                                </li>
                                <li>
                                    Evaluates designs with regard to engineering principles, customer requirements, and environmental regulations.
                                </li>
                                <li>
                                    Conducts tests on prototypes and models.
                                </li>
                                <li>
                                    Inspects damaged or malfunctioning products to determine the problem and propose solutions.
                                </li>
                                <li>
                                    Determine costs for financial feasibility.
                                </li>
                                <li>
                                    Assist in the production of manuals and troubleshooting guides for the finished product.
                                </li>
                                <li>
                                    Coordinate with other teams to ensure standards and timelines are met.
                                </li>
                            </ol>
                        </p>

                        <p><strong>Experience : &nbsp;&nbsp;</strong> 1-2 Years</p>
                        <p><strong>Location : &nbsp;&nbsp;</strong> Noida (Work from Office)</p>
                        <h4><strong>Number of openings : &nbsp;&nbsp;</strong> 02</h4>
                        <p><strong>Submit Your Resume at : &nbsp;&nbsp;</strong> hr@johnnette.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=======X====== job description four =======X======-->

    <!--============= job description five =============-->
    <section class="job">
        <div class="containerr">
            <div class="jobInfo">
                <div class="box">
                    <div class="text">
                        <h3>1. &nbsp; Junior Associate - Marketing & Communication</h3>
                        <h4>Responsibilities: - </h4>
                        <p>
                            <ol type="1">
                                <li>Create engaging content for social media promotions and campaigns.</li>
                                <li>Design brochures, catalogues and promotional material.</li>
                                <li>Plan, Coordinate and Execute marketing events</li>
                                <li>Create marketing literature (Brochure, Press Release) to augment company's presence in the market.</li>
                            </ol>
                        </p>
                        <h4>Desired Skills: - </h4>
                        <p>
                            <ol type="1">
                                <li>Should have worked with graphic editing tools (CorelDraw, Photoshop, Lightroom) and Video Editing Tools.</li>
                                <li>Should have a good knowledge of MS Office.</li>
                                <li>Should be fluent in English and Hindi Language (Spoken and Written).</li>
                            </ol>
                        </p>
                        <p><strong>Experience : &nbsp;&nbsp;</strong> 0-2 Years</p>
                        <p><strong>Location : &nbsp;&nbsp;</strong> Noida (Work from Office)</p>
                        <h4><strong>Number of openings : &nbsp;&nbsp;</strong> 01</h4>
                        <p><strong>Submit Your Resume at : &nbsp;&nbsp;</strong> hr@johnnette.com</p>
                    </div>
                </div>
            </div>
            <div class="jobImg" style="background-image: url({% static 'img/career/sales&marketing.jpg' %}); background-size: cover; opacity: 1;">
                <img style="visibility: hidden;" src="{% static 'img/career/sales&marketing.jpg' %}" class="img-fluid" alt="video-editor">
            </div>
        </div>
    </section>
    <!--=======X====== job description five =======X======-->


    <br>
    <!--========X======== main content ==========X======-->
{% endblock content %}



{% block page_js %}
    

{% endblock page_js %}


{% static '' %}




















