{% extends 'base.html' %}
{% load static %}
{% block title %}JOHNNETTE JF-5{% endblock title %}


{% comment %} {% block google_analytics %}
 <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-248379699-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-248379699-1');
    </script>
{% endblock google_analytics %} {% endcomment %}



{% block meta_tags %}
<meta name="keywords" content=" UCAV, Combat drone, multi-role drone, surveillance and reconnaissance drone, armed attack missions drone, reliable and high quality drones at low cost, drone, Defence, drone for Defence">
<meta name="description" content="johnnette JF-5 is a surveillance and multi-role unmanned Combat aerial vehicle (UCAV).">
{% endblock meta_tags %}




{% block head %}
    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- custom css file link -->
    <link rel="stylesheet" href="{% static 'css/jf5.css' %}">

    <!-- to link header footer -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
{% endblock head %}
    


{% block page_css %}
{% endblock page_css %}



{% block content %}
    <!--== main content start ==-->

    <!--== banner start ==-->
    <section>
        <div class="head_banner">
            <div style="background-image: url({% static 'img/jf5/banner.png' %})">
                <img src="{% static 'img/jf5/banner.png' %}" class="img-fluid" alt="">
            </div>
            <div class="banner_text">
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <h1>Johnnette JF-5</h1>
                    <br>
                    <table>
                        <thead>
                            <tr style="font-size: 20px">
                                <th style="text-align: center; font-weight: normal;" class="upto">Up to</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white; text-align: center; font-weight: normal;" class="upto">Up to</th>
                                <th style="text-align: center; font-weight: normal;" class="upto">Up to</th>
                            </tr>
                            <tr style="font-size: 30px">
                                <th style="text-align: center; font-weight: normal;" class="upto_value">8500 km</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white; text-align: center; font-weight: normal;" class="upto_value">25 hours</th>
                                <th style="text-align: center; font-weight: normal;" class="upto_value">5600 kg</th>
                            </tr>
                            <tr style="font-size: 20px">
                                <th style="text-align: center; font-weight: normal; padding: 0 30px;" class="upto">Operational Range</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white; text-align: center; font-weight: normal; padding: 0 30px;" class="upto">Flight Time</th>
                                <th style="text-align: center; font-weight: normal; padding: 0 30px;" class="upto">Aircraft Weight</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--== banner end ==-->


    <!--== product slider ==-->
    <div class="main_box">
        <div class="main_box_img">
            <div class="image_holder">
                <div class="background_img">
                    <div class="b temp_background"></div>
                    <div class="c slide_container">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide h_slide1" id="h_slide1">
                                    <div class="row">
                                        <div class="col-md-6 column1">
                                            <div class="table_holder" style="width: 100%;">
                                                <table>
                                                    <div class="th">
                                                        <h2>
                                                            JOHNNETTE JF-5
                                                        </h2>
                                                        <h3>
                                                            OVERVIEW
                                                        </h3>
                                                    </div>
                                                    <tbody>
                                                        <tr class="trow">
                                                            <td class="property">Wingspan</td>
                                                            <td class="value">1800 cm <span class="g_color">/ 18 m</span>
                                                            </td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">Aircraft Weight</td>
                                                            <td class="value">5600 kg </td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">PAYLOAD </td>
                                                            <td class="value">
                                                                <span style="text-transform: uppercase;"> SAR/MPR, EO/IR, COMMINT, ELINT, </span><span style="text-transform: capitalize;">
                                                                    <!-- Bombs, <br> Warheads and Loitering Munitions -->
                                                                    <br> Weapons and Missiles.
                                                                </span><br></td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">Max Flight Altitude <span class="g_color1" style="color: gray;">(AGL)</span>
                                                            </td>
                                                            <td class="value">40,000 ft<span class="g_color"></span></td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">Propulsion <span class="g_color1" style="color: gray;"></span>
                                                            </td>
                                                            <td class="value">
                                                                <span style="text-transform: capitalize;">Turbo Prop Engine</span><span class="g_color"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column2"></div>
                                    </div>
                                </div>

                                <div class="swiper-slide h_slide2">
                                    <div class="row">
                                        <div class="col-md-6 column1">
                                            <div class="table_holder" style="width: 100%;">
                                                <table>
                                                    <div class="th">
                                                        <h3>
                                                            PERFORMANCE
                                                        </h3>
                                                    </div>
                                                    <tbody>
                                                        <tr class="trow">
                                                            <td class="property">COMMUNICATION</td>
                                                            <td class="value"><span style="text-transform: uppercase;">Satcom</span><span class="g_color"></span></td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">OPERATIONAL RANGE</td>
                                                            <td class="value">8500 km<span class="g_color"></span></td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">Operating Temperature</td>
                                                            <td class="value">-30° to +55°C <span class="g_color"></span>
                                                            </td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">Take-off/Recovery</td>
                                                            <td class="value"><span style="text-transform: capitalize;">Runway Dependant</span><span class="g_color"></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column2"></div>
                                    </div>
                                </div>

                                <div class="swiper-slide h_slide3">
                                    <div class="row">
                                        <div class="col-md-6 column1">
                                            <div class="table_holder" style="width: 100%;">
                                                <div class="th">
                                                    <h3>
                                                        FEATURES
                                                    </h3>
                                                </div>
                                                <div class="list_holder"><br>
                                                    <dl>

                                                        <dd style="display: list-item; list-style-type: disc;"> Fully Automatic Navigation and Route Tracking Feature </dd>

                                                        <dd style="display: list-item; list-style-type: disc;">Semi-Autonomous Flight Modes Support</dd>

                                                        <dd style="display: list-item; list-style-type: disc;">Precise Auto Takeoff and Landing with Built-in Sensor Fusion</dd>

                                                        <dd style="display: list-item; list-style-type: disc;">Fully Automatic Taxi and Parking Feature</dd>

                                                        <dd style="display: list-item; list-style-type: disc;">Fault Tolerant and 3 Redundant Sensor Fusion Application</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column2"></div>
                                    </div>
                                </div>

                                <div class="swiper-slide h_slide4 h_last">
                                    <div class="row">
                                        <div class="col-md-6 column1">
                                            <div class="table_holder" style="width: 100%;">
                                                <table>
                                                    <div class="th">
                                                        <h3>
                                                            ADVANTAGES
                                                        </h3>
                                                    </div>
                                                    <div class="applications"> <br>
                                                        <p style="display: list-item; list-style-type: disc;">
                                                            Dual Redundant SATCOM + Dual Redundant LOS
                                                        </p>
                                                        <p style="display: list-item; list-style-type: disc;">
                                                            Fully Automatic Flight Control and 3 Redundant Autopilot System
                                                        </p>
                                                        <p style="display: list-item; list-style-type: disc;">
                                                            Navigation with Internal Sensor Fusion Without Dependency on GPS + NAVIC (IRNSS)
                                                        </p>
                                                    </div>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column2"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-button-next target-btn"></div>
                        <div class="swiper-button-prev target-btn"></div>
                        <div class="swiper-pagination target-btn"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" a bottom_content">
            <div class="bottom_content_position">
                <div class="intro_holder">
                    <div>
                        <p>
                            Johnnette JF-5 is a High Altitude Long Endurance strategic Unmanned Combat Aerial Vehicle capable of conducting operations that are performed with fighter jets. Its unique design and speed increases its survivability in higher threat environments and
                            provides customers with an expanded quick-response armed reconnaissance capability.
                            <br>
                            <br> Wide-area surveillance, time-sensitive strike missions over land or sea, and a host of other challenging military missions can be performed with this highly advanced, next generation Remotely Piloted Aircraft.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== product slider end ==-->


    <!--================== reder to wireframe image ==================-->
    <div> {% include 'app/jf5-animation/jf5-animation.html' %} </div>
    <!--==========X======= reder to wireframe image ==========X=======-->

    <!--== buttons ==-->
    <div style="width: 100%; text-align: center;" class="download_button">
        <button style="padding: 10px 30px; border-radius: 5px; color: black; background-color: white;" onclick="shownow()">&nbsp; &nbsp;
                Download &nbsp; &nbsp;</button>
        <a href="img/pdf/Johnnette.pdf" target="_black" id="download_now"></a>
        <span class="middle_element"></span>
        <a href="contact.html#contact" class="download_button">
            <button style="padding: 10px 30px; border-radius: 5px; color: black; background-color: white;">Ask for a demo</button>
        </a>
    </div>
    <!--== buttons ==-->

{% endblock content %}



{% block page_js %}

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        grabCursor: true,
        speed: 500,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        // autoplay: {
        //     delay: 2000,
        //     disableOnInteraction: false,
        // },
        // loop: true,
    });
</script>

<script>
    $(window).scroll(function() {
        if ($(this).scrollTop() <= 1400) {
            $('.a').css('opacity', '1')
            $('.b').css('opacity', '1')
            $('.c').css('opacity', '0');
            // $('.target-btn').css('display', 'none');
        } else {
            $('.a').css('opacity', '0')
            $('.b').css('opacity', '0')
            $('.c').css('opacity', '1')
                // $('.target-btn').css('display', 'inline-block');
        }
    });
</script>

<script>
    function myFunction(x) {
        if (x.matches) { // If media query matches
            $(window).scroll(function() {
                if ($(this).scrollTop() <= 900) {
                    $('.a').css('opacity', '1')
                    $('.b').css('opacity', '1')
                    $('.c').css('opacity', '0');
                } else {
                    $('.a').css('opacity', '0')
                    $('.b').css('opacity', '0')
                    $('.c').css('opacity', '1')
                }
            });
        }
    }
    var x = window.matchMedia("(max-width: 913px) and (min-width: 911px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes
</script>

<script>
    function myFunction(x) {
        if (x.matches) { // If media query matches
            $(window).scroll(function() {
                if ($(this).scrollTop() <= 790) {
                    $('.a').css('opacity', '1')
                    $('.b').css('opacity', '1')
                    $('.c').css('opacity', '0');
                } else {
                    $('.a').css('opacity', '0')
                    $('.b').css('opacity', '0')
                    $('.c').css('opacity', '1')
                }
            });
        }
    }
    var x = window.matchMedia("(max-width: 768px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes
</script>

<script>
    function myFunction(x) {
        if (x.matches) { // If media query matches
            $(window).scroll(function() {
                if ($(this).scrollTop() <= 1100) {
                    $('.a').css('opacity', '1')
                    $('.b').css('opacity', '1')
                    $('.c').css('opacity', '0');
                } else {
                    $('.a').css('opacity', '0')
                    $('.b').css('opacity', '0')
                    $('.c').css('opacity', '1')
                }
            });
        }
    }
    var x = window.matchMedia("(max-width: 541px) and (min-width: 535px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes
</script>

<script>
    function myFunction(x) {
        if (x.matches) { // If media query matches
            $(window).scroll(function() {
                if ($(this).scrollTop() <= 1300) {
                    $('.a').css('opacity', '1')
                    $('.b').css('opacity', '1')
                    $('.c').css('opacity', '0')
                } else {
                    $('.a').css('opacity', '0')
                    $('.b').css('opacity', '0')
                    $('.c').css('opacity', '1')
                }
            });
        }
    }
    var x = window.matchMedia("(max-width: 414px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes
</script>

<script>
    function myFunction(x) {
        if (x.matches) { // If media query matches
            $(window).scroll(function() {
                if ($(this).scrollTop() <= 1300) {
                    $('.a').css('opacity', '1')
                    $('.b').css('opacity', '1')
                    $('.c').css('opacity', '0');
                } else {
                    $('.a').css('opacity', '0')
                    $('.b').css('opacity', '0')
                    $('.c').css('opacity', '1')
                }
            });
        }
    }
    var x = window.matchMedia("(max-width: 400px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes
</script>

<script>
    function myFunction(x) {
        if (x.matches) { // If media query matches
            $(window).scroll(function() {
                if ($(this).scrollTop() <= 1200) {
                    $('.a').css('opacity', '1')
                    $('.b').css('opacity', '1')
                    $('.c').css('opacity', '0');
                } else {
                    $('.a').css('opacity', '0')
                    $('.b').css('opacity', '0')
                    $('.c').css('opacity', '1')
                }
            });
        }
    }
    var x = window.matchMedia("(max-width: 376px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes
</script>

{% endblock page_js %}