{% extends 'base.html' %}
{% load static %}
{% block title %}JOHNNETTE JM-2{% endblock title %}


{% comment %} {% block google_analytics %}
 <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-248379699-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-248379699-1');
    </script>
{% endblock google_analytics %} {% endcomment %}



{% block meta_tags %}
<meta name="keywords" content="vertical take-off fixed-wing drone, intelligence, surveillance and reconnaissance, isr, unmanned aerial vehicle, johnnette JM-2, drones,  fixed-wing drone, mapping drone, surveillance drone, reliable and high quality drones at low cost, drone, Defence, drone for Defence">
<meta name="description" content="johnnette JM-2 is a fixed-wing vtol drone (unmanned aerial vehicle) idea for multi-mission operations, surveillance drone, reliable and high quality drones at low cost">
{% endblock meta_tags %}




{% block head %}
    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- custom css file link -->
    <link rel="stylesheet" href="{% static 'css/jm2.css' %}">

    <!-- to link header footer -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
{% endblock head %}
    


{% block page_css %}
{% endblock page_css %}



{% block content %}
    <!--== main content start ==-->

    <!--== banner start ==-->
    <section>
        <div class="head_banner">
            <video id="background-video" autoplay loop muted poster="#"> 
                <source src="{% static 'video/jm2/banner.mp4' %}" type="video/mp4" class="">
            </video>
            <div class="banner_text">
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <h1>Johnnette JM-2</h1>
                    <br>
                    <table class="banner">
                        <thead class="banner">
                            <tr style="font-size: 20px">
                                <th style="text-align: center; font-weight: normal;" class="upto">Up to</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white; text-align: center; font-weight: normal;" class="upto">Up to</th>
                                <th style="text-align: center; font-weight: normal;" class="upto">Up to</th>
                            </tr>
                            <tr style="font-size: 30px">
                                <th style="text-align: center; font-weight: normal;" class="upto_value">55 km</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white; text-align: center; font-weight: normal;" class="upto_value">2.5 hours</th>
                                <th style="text-align: center; font-weight: normal;" class="upto_value">9 kg</th>
                            </tr>
                            <tr style="font-size: 20px">
                                <th style="text-align: center; font-weight: normal; padding: 0 30px;" class="upto">Operational Range</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white; text-align: center; font-weight: normal; padding: 0 30px;" class="upto">Flight Time</th>
                                <th style="text-align: center; font-weight: normal; padding: 0 30px;" class="upto">Aircraft Weight</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--== banner end ==-->


    <!--== product slider ==-->
    <div class="main_box">
        <div class="main_box_img">
            <div class="image_holder">
                <div class="background_img">
                    <div class="b temp_background">
                    </div>
                    <div class="c slide_container">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide h_slide1" id="h_slide1">
                                    <div class="row">
                                        <div class="col-md-6 column1">
                                            <div class="table_holder" style="width: 100%;">
                                                <table>
                                                    <div class="th">
                                                        <h2>
                                                            JOHNNETTE JM-2
                                                        </h2>
                                                        <h3>
                                                            OVERVIEW
                                                        </h3>
                                                    </div>
                                                    <tbody>
                                                        <tr class="trow">
                                                            <td class="property">Wingspan</td>
                                                            <td class="value">300 cm <span class="g_color">/ 3 m</span>
                                                            </td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">Aircraft Weight</td>
                                                            <td class="value">9 kg </td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">PAYLOAD: 1080p Day Camera and Warhead</td>
                                                            <td class="value">500 gms</td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">MAX FLIGHT DISTANCE</td>
                                                            <td class="value">55 km</td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">Max Flight Altitude <span class="g_color1" style="color: gray;">(AGL)</span>
                                                            </td>
                                                            <td class="value">500 m<span class="g_color"></span>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column2"></div>
                                    </div>
                                </div>

                                <div class="swiper-slide h_slide2">
                                    <div class="row">
                                        <div class="col-md-6 column1">
                                            <div class="table_holder" style="width: 100%;">
                                                <table>
                                                    <div class="th">
                                                        <h3>
                                                            PERFORMANCE
                                                        </h3>
                                                    </div>
                                                    <tbody>
                                                        <tr class="trow">
                                                            <td class="property">Endurance</td>
                                                            <td class="value">2.5 Hours <span class="g_color"></span></td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">Operating Temperature</td>
                                                            <td class="value">-20 to +50°C<span class="g_color"></span>
                                                            </td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">Launch/Recovery</td>
                                                            <td class="value">Canister Launch/ Net Recovery<span class="g_color"></span></td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">NAVIGATION</td>
                                                            <td class="value"><span style="text-transform: uppercase;">GPS/NAVIC</span><span class="g_color"></span></td>
                                                        </tr>
                                                        <tr class="trow">
                                                            <td class="property">MSL</td>
                                                            <td class="value">4500 m<span class="g_color"></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column2"></div>
                                    </div>
                                </div>

                                <div class="swiper-slide h_slide3">
                                    <div class="row">
                                        <div class="col-md-6 column1">
                                            <div class="table_holder" style="width: 100%;">
                                                <div class="th">
                                                    <h3>
                                                        FEATURES
                                                    </h3>
                                                </div>
                                                <div class="list_holder"> <br>
                                                    <dl>
                                                        <dd style="display: list-item; list-style-type: disc;">Ship and Land Borne Operations</dd>
                                                        <dd style="display: list-item; list-style-type: disc;">Pneumatic Canister Launch</dd>
                                                        <dd style="display: list-item; list-style-type: disc;">Abort feature</dd>
                                                        <dd style="display: list-item; list-style-type: disc;">Net Recovery</dd>
                                                        <dd style="display: list-item; list-style-type: disc;">Cost Effective</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column2"></div>
                                    </div>
                                </div>

                                <div class="swiper-slide h_slide4 h_last">
                                    <div class="row">
                                        <div class="col-md-6 column1">
                                            <div class="table_holder" style="width: 100%;">
                                                <table>
                                                    <div class="th">
                                                        <h3>
                                                            ADVANTAGES
                                                        </h3>
                                                    </div>
                                                    <div class="applications"> <br>
                                                        <dl>
                                                            <dd style="display: list-item; list-style-type: disc;">
                                                                Highly affordable alternative to Missiles
                                                            </dd>
                                                            <dd style="display: list-item; list-style-type: disc;">
                                                                Can be used in amphibious warfare
                                                            </dd>
                                                            <dd style="display: list-item; list-style-type: disc;">
                                                                Indigenous Content: 85%
                                                            </dd>
                                                            <dd style="display: list-item; list-style-type: disc;">
                                                                Reusable Aerial Platform
                                                            </dd>
                                                            <dd style="display: list-item; list-style-type: disc;">
                                                                Easy Backpack Transportation (Optional)
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column2"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-button-next target-btn"></div>
                        <div class="swiper-button-prev target-btn"></div>
                        <div class="swiper-pagination target-btn"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" a bottom_content">
            <div class="bottom_content_position">
                <div class="intro_holder">
                    <div>
                        <p>
                            Johnnette JM-2 is a state-of-the-art purpose-built Loitering Munition (LM) that can be used for aerial surveillance and target neutralisation by Land and Naval forces. JM-2 has a pneumatic ground-based canister launch mechanism wherein the LM is mounted
                            onto the launch-pipe and once fired pneumatically, JM-2 can loiter with a total endurance of 2.5 Hr, and when the target is sighted it can be guided down to destroy the target with the explosive payload it carries. This entire
                            operation is fully autonomous with an abort feature and is recovered using a Net recovery system. Equipped with the intelligent payloads, it helps the observer to survey, locate and guide the vehicle to the target. Once the
                            target is identified, the LM can then be guided to hit the target and destroy it with the warhead on-board with the help of a laser designator.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== product slider end ==-->


    <!--================== reder to wireframe image ==================-->
    <div> {% include 'app/jm2-animation/jm2-animation.html' %} </div>
    <!--==========X======= reder to wireframe image ==========X=======-->


    <!--======================= video =======================-->
    <!-- <div class="image-container" id="load-video" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500" data-aos-offset="1000"> -->
        <div class="image-container" id="load-video">
            <img src="{% static 'img/jm2/jm2-thumbnail.jpg' %}" style="height: 100vh; width: 100%;" alt="">
        </div>
        <div id="play-video" style="display: relative; display:none;">
            <div class="video-container" style=" background: black; height: 100vh; width: 100%; position: fixed; top:0; left: 0;">
                <video id="my-video" style="height: 100vh; width: 100%;" controls controlsList="nodownload">
                        <source id="mp4"  src="{% static 'video/jm2/jm2.mp4' %}" type="video/mp4">
                </video>
            </div>
        </div>
        <div id="close-video" class="fas fa-times" style="display: none; font-size: 25px; color: white; position: fixed; top: 40px; right: 40px;">
        </div>
        <style>
            .image-container {
                margin-top: 70px;
                margin-bottom: 130px;
            }
            
            @media only screen and (max-width: 913px) and (min-width: 768px) and (max-height: 1369px) and (min-height: 1024px) {
                .image-container {
                    margin-top: 50px;
                    margin-bottom: 40px;
                }
                .image-container img {
                    height: 100%!important;
                    width: 100%!important;
                }
            }
            
            @media screen and (max-width: 820px) and (min-width: 819px) and (max-height: 1180px) and (min-height: 1179px) {
                .image-container {
                    margin-top: 50px;
                    margin-bottom: 40px;
                }
                .image-container img {
                    height: 100%!important;
                    width: 100%!important;
                }
            }
            
            @media screen and (max-width:768px) {
                .image-container {
                    margin-top: 40px;
                    margin-bottom: 30px;
                }
                .image-container img {
                    height: 100%!important;
                    width: 100%!important;
                }
            }
        </style>
    <!--============x========== video ===========x===========-->


    <div id="payload-image-container">
        <!-- ================= pay-load ================== -->
            <!-- <h3 style="text-align: center; color: white; font-size: 40px; padding: 50px 0;">PAYLOADS</h3>
            <div id="payload-image-container">
                <div class="container" style="max-width: 1600px;  width: 100%; padding-bottom: 80px;">
                    <div class="row">
                        <div class="col-lg-12" style="color: white;">
                            <div class="row">
                                <div class="col-md-6 payload_column1">
                                    <div class="payload_text" style="width:100%; max-width: 600px;">
                                        <table style="width:100%" class="payload">
                                            <tr class="trow_border">
                                                <th class="pro">payload type</th>
                                                <th class="val">Day / Night</th>
                                            </tr>
                                            <tr>
                                                <th class="pro" rowspan="3">sensor 1</th>
                                                <td class="val" style="border:none;">Sony 12MP CMOS</td>
                                            </tr>
                                            <tr>
                                                <td class="val" style="border:none;">1920 X 1080p</td>
                                            </tr>
                                            <tr class="trow_border">
                                                <td class="val">HFOV: 100°</td>
                                            </tr>
                                            <tr>
                                                <th lass="pro" rowspan="4">sensor 2</th>
                                                <td class="val" style="border:none;">Uncooled Thermal Imager</td>
                                            </tr>
                                            <tr>
                                                <td class="val" style="border:none;">640 X 512</td>
                                            </tr>
                                            <tr>
                                                <td class="val" style="border:none;">HFOV: 32°</td>
                                            </tr>
                                            <tr class="trow_border">
                                                <td class="val">Digital Zoom: 4x</td>
                                            </tr>
                                            <tr class="trow_border">
                                                <th lass="pro">Video Output</th>
                                                <td class="val">720p @ 30</td>
                                            </tr>
                                            <tr class="trow_border">
                                                <th lass="pro">Weight</th>
                                                <td class="val">400g</td>
                                            </tr>
                                            <tr class="trow_border">
                                                <th lass="pro">Operating Temperature</th>
                                                <td class="val">5 to 45 °C</td>
                                            </tr>
                                            <tr class="trow_border">
                                                <th lass="pro">Pan</th>
                                                <td class="val">-200° to +200°</td>
                                            </tr>
                                            <tr class="trow_border">
                                                <th lass="pro">Tilt</th>
                                                <td class="val">-120° to + 80°</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <style>
                                    .payload .trow_border {
                                        border-bottom: 1px solid white;
                                        border-bottom: 1px solid white;
                                    }
                                    
                                    .payload .pro,
                                    .payload .val {
                                        border: none;
                                        padding: 10px 0px;
                                        font-size: 17px;
                                    }
                                    
                                    .payload th {
                                        text-align: left;
                                        font-size: 17px;
                                        text-transform: uppercase;
                                        font-weight: normal;
                                    }
                                    
                                    .payload .val {
                                        text-align: right;
                                    }
                                    
                                    .payload_column1 {
                                        width: 60%;
                                    }
                                    
                                    .payload_column2 {
                                        width: 40%;
                                    }
                                    
                                    @media screen and (min-width: 991px) and (max-width: 1440px) {
                                        .payload_column1,
                                        .payload_column2 {
                                            padding: 0 50px !important;
                                        }
                                    }
                                    
                                    @media screen and (min-width: 768px) {
                                        .container {
                                            padding: 33px;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 767px) {
                                        .payload_column1 {
                                            order: 2;
                                            margin-top: 50px;
                                        }
                                        .payload_image,
                                        .payload_image div {
                                            text-align: center !important;
                                            width: 250px !important;
                                        }
                                        .payload_column1,
                                        .payload_column2 {
                                            width: 100% !important;
                                        }
                                        .payload_column2 .payload_image div img {
                                            width: 70%;
                                        }
                                    }
                                </style>
                                <div class="col-md-6 payload_column2">
                                    <div class="payload_image" style="width: 100%; text-align: left;">
                                        <div style="max-width: 600px; text-align: center;">
                                            <img src="img/jf2/payload_jf2.png" width="100%" style="max-width: 300px;" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
        <!-- ========X======== pay-load ===========X====== -->


        <!--================ product images ================-->
            <h3 style="text-align: center; color: white; font-size: 50px; padding: 50px 0;">JM-2 Images</h3>
            <div id="product-image">
                <div class="swiper mySwiper2" style="width: 100%; height: 100%;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide h_slide_one">
                            <img src="{% static 'img/jm2/image1.png' %}" style="height: 100vh; width: 100%;" alt="">
                        </div>
                        <div class="swiper-slide h_slide_two">
                            <img src="{% static 'img/jm2/image2.png' %}" style="height: 100vh; width: 100%;" alt="">
                        </div>
                        <div class="swiper-slide h_slide_three">
                            <img src="{% static 'img/jm2/image3.png' %}" style="height: 100vh; width: 100%;" alt="">
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <style>
                .mySwiper2 .swiper-button-next,
                .mySwiper2 .swiper-button-prev {
                    position: absolute;
                    top: 60%!important;
                }
                
                .mySwiper2 .swiper-button-prev {
                    left: 3%;
                    font-family: 'D-DIN', sans-serif;
                    font-weight: bolder;
                    color: white;
                }
                
                .mySwiper2 .swiper-button-next {
                    right: 3%;
                    font-family: 'D-DIN', sans-serif;
                    font-weight: bolder;
                    color: white;
                }
                
                #product-image {
                    margin-top: 70px;
                    margin-bottom: 100px;
                }
                
                @media only screen and (max-width: 913px) and (min-width: 768px) and (max-height: 1369px) and (min-height: 1024px) {
                    #product-image {
                        margin-top: 50px;
                        margin-bottom: 90px;
                    }
                    #product-image img {
                        height: 100%!important;
                        width: 100%!important;
                    }
                }
                
                @media screen and (max-width: 820px) and (min-width: 819px) and (max-height: 1180px) and (min-height: 1179px) {
                    #product-image {
                        margin-top: 50px;
                        margin-bottom: 90px;
                    }
                    #product-image img {
                        height: 100%!important;
                        width: 100%!important;
                    }
                }
                
                @media screen and (max-width:768px) {
                    #product-image {
                        margin-top: 40px;
                        margin-bottom: 90px!important;
                    }
                    #product-image img {
                        height: 100%!important;
                        width: 100%!important;
                    }
                }
                
                @media screen and (max-width:540px) {
                    #product-image {
                        margin-top: 30px;
                        margin-bottom: 60px!important;
                    }
                    #product-image img {
                        height: 100%!important;
                        width: 100%!important;
                    }
                }
            </style>
        <!--========X======= product images ========X=======-->
    </div>

    <!--== buttons ==-->
    <div style="width: 100%; text-align: center;" class="download_button">
        <button style="padding: 10px 30px; border-radius: 5px; color: black; background-color: white;" onclick="shownow()">&nbsp; &nbsp;
                Download &nbsp; &nbsp;</button>
        <a href="img/pdf/Johnnette.pdf" target="_black" id="download_now"></a>
        <span class="middle_element"></span>
        <a href="contact.html#contact" class="download_button">
            <button style="padding: 10px 30px; border-radius: 5px; color: black; background-color: white;">Ask for a demo</button>
        </a>
    </div>
    <!--== buttons ==-->

{% endblock content %}-



{% block page_js %}
    <script>
        let load = document.querySelector("#load-video");
        let play = document.querySelector('#play-video');
        let closed = document.querySelector("#close-video");
        let video = document.querySelector("#my-video");
        let head = document.querySelector(".header");
        let payload = document.querySelector("#payload-image-container");


        load.onclick = () => {
            play.style.display = "block";
            closed.style.display = "block";
            closed.style.zIndex = "10000";
            play.style.zIndex = "1000";
            head.style.visibility = "hidden";
            video.currentTime = 0;
            video.play();
            payload.style.visibility = "hidden";
        }
        closed.onclick = () => {
            play.style.display = "none";
            closed.style.display = "none";
            head.style.visibility = "visible";
            video.pause();
            payload.style.visibility = "visible";
        }
    </script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 0,
            grabCursor: true,
            speed: 500,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
    <script>
        var swiper = new Swiper(".mySwiper2", {
            slidesPerView: 1,
            spaceBetween: 0,
            //grabCursor: true,
            speed: 500,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>

    <script>
        $(window).scroll(function() {
            if ($(this).scrollTop() <= 1400) {
                $('.a').css('opacity', '1')
                $('.b').css('opacity', '1')
                $('.c').css('opacity', '0');
                // $('.target-btn').css('display', 'none');
            } else {
                $('.a').css('opacity', '0')
                $('.b').css('opacity', '0')
                $('.c').css('opacity', '1')
                    // $('.target-btn').css('display', 'inline-block');
            }
        });
    </script>

    <script>
        function myFunction(x) {
            if (x.matches) { // If media query matches
                $(window).scroll(function() {
                    if ($(this).scrollTop() <= 900) {
                        $('.a').css('opacity', '1')
                        $('.b').css('opacity', '1')
                        $('.c').css('opacity', '0');
                    } else {
                        $('.a').css('opacity', '0')
                        $('.b').css('opacity', '0')
                        $('.c').css('opacity', '1')
                    }
                });
            }
        }
        var x = window.matchMedia("(max-width: 913px) and (min-width: 911px)")
        myFunction(x) // Call listener function at run time
        x.addListener(myFunction) // Attach listener function on state changes
    </script>

    <script>
        function myFunction(x) {
            if (x.matches) { // If media query matches
                $(window).scroll(function() {
                    if ($(this).scrollTop() <= 790) {
                        $('.a').css('opacity', '1')
                        $('.b').css('opacity', '1')
                        $('.c').css('opacity', '0');
                    } else {
                        $('.a').css('opacity', '0')
                        $('.b').css('opacity', '0')
                        $('.c').css('opacity', '1')
                    }
                });
            }
        }
        var x = window.matchMedia("(max-width: 768px)")
        myFunction(x) // Call listener function at run time
        x.addListener(myFunction) // Attach listener function on state changes
    </script>

    <script>
        function myFunction(x) {
            if (x.matches) { // If media query matches
                $(window).scroll(function() {
                    if ($(this).scrollTop() <= 1100) {
                        $('.a').css('opacity', '1')
                        $('.b').css('opacity', '1')
                        $('.c').css('opacity', '0');
                    } else {
                        $('.a').css('opacity', '0')
                        $('.b').css('opacity', '0')
                        $('.c').css('opacity', '1')
                    }
                });
            }
        }
        var x = window.matchMedia("(max-width: 541px) and (min-width: 535px)")
        myFunction(x) // Call listener function at run time
        x.addListener(myFunction) // Attach listener function on state changes
    </script>

    <script>
        function myFunction(x) {
            if (x.matches) { // If media query matches
                $(window).scroll(function() {
                    if ($(this).scrollTop() <= 1300) {
                        $('.a').css('opacity', '1')
                        $('.b').css('opacity', '1')
                        $('.c').css('opacity', '0')
                    } else {
                        $('.a').css('opacity', '0')
                        $('.b').css('opacity', '0')
                        $('.c').css('opacity', '1')
                    }
                });
            }
        }
        var x = window.matchMedia("(max-width: 414px)")
        myFunction(x) // Call listener function at run time
        x.addListener(myFunction) // Attach listener function on state changes
    </script>

    <script>
        function myFunction(x) {
            if (x.matches) { // If media query matches
                $(window).scroll(function() {
                    if ($(this).scrollTop() <= 1300) {
                        $('.a').css('opacity', '1')
                        $('.b').css('opacity', '1')
                        $('.c').css('opacity', '0');
                    } else {
                        $('.a').css('opacity', '0')
                        $('.b').css('opacity', '0')
                        $('.c').css('opacity', '1')
                    }
                });
            }
        }
        var x = window.matchMedia("(max-width: 400px)")
        myFunction(x) // Call listener function at run time
        x.addListener(myFunction) // Attach listener function on state changes
    </script>

    <script>
        function myFunction(x) {
            if (x.matches) { // If media query matches
                $(window).scroll(function() {
                    if ($(this).scrollTop() <= 1500) {
                        $('.a').css('opacity', '1')
                        $('.b').css('opacity', '1')
                        $('.c').css('opacity', '0');
                    } else {
                        $('.a').css('opacity', '0')
                        $('.b').css('opacity', '0')
                        $('.c').css('opacity', '1')
                    }
                });
            }
        }
        var x = window.matchMedia("(max-width: 376px)")
        myFunction(x) // Call listener function at run time
        x.addListener(myFunction) // Attach listener function on state changes
    </script>

{% endblock page_js %}
