{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}Product Details{% endblock title %} 
{% block meta_tags %} 
{% endblock meta_tags %}
{% block head %} 
{% endblock head %}

{% block page_css %}



{% comment %} <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> {% endcomment %}
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<!--Custom CSS-->
<link rel="stylesheet" href="{% static 'app/css/product_detail.css' %}"> 



<style>
    *{
        color: white;
    }


    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    
    .mySwiper2 {
        height: 80%;
        width: 100%;
    }
    
    .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    
    .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    
    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .detail {
        margin-top: 20px;
        flex-wrap: nowrap;
        text-align: left;
        padding-left: 10px;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .detail>div {
        margin-top: 5px;
    }
    
    .company_logo {
        width: 20%;
        border: 3px solid rgba(1, 1, 66, 0.3);
        border-radius: 10px;
        font-weight: bolder;
    }
    
    .company_logo img {
        display: flex;
        width: 100%;
    }
    
    .brand_name {
        color: black;
        overflow: hidden;
        font-size: 15px;
        font-weight: bold;
    }
    
    .selling_price {
        font-size: 18px;
    }
    
    .actual_price {
        color: gray;
        overflow: hidden;
    }
    
    .off_upto {
        color: green;
    }
    
    .deal {
        color: green!important;
        margin-top: 10px;
    }
    
    
    /* media query */
    
    @media screen and (max-width: 1441px) and (min-width: 995px) {
        .swiper {
            max-width: 300px;
        }
    }
    
    @media screen and (max-width: 575px) {
        .right-side {
            margin-left: 15px;
        }
    }
    
    @media screen and (max-width: 995px) {
        html {
            font-size: 90%;
        }
    }
    
    @media screen and (max-width: 767px) {
        html {
            font-size: 68%;
        }
    }
</style>
{% endblock page_css %} 




{% block content %}
<span style="position: static; display: inline-block; height: 200px;" class="balance"></span> 

    <div class="container my-3">
    <div class="row">
        <div class="col-sm-5 text-center">
            <!-- prodict images  -->
            <div class="containerr">
                <!-- Swiper -->
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        {% if product.img1 %}
                        <div class="swiper-slide">
                            <img src="{{ product.img1.url }}" class="img-thumbnail" /> 
                        </div>
                        {% endif %}
                        {% if product.img2 %}
                        <div class="swiper-slide">
                            <img src="{{ product.img2.url }}" class="img-thumbnail" /> 
                        </div>
                        {% endif %}
                        {% if product.img3 %}
                        <div class="swiper-slide">
                            <img src="{{ product.img3.url }}" class="img-thumbnail" /> 
                        </div>
                        {% endif %}
                        {% if product.img4 %}
                        <div class="swiper-slide">
                            <img src="{{ product.img4.url }}" class="img-thumbnail" /> 
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {% if product.img1 %}
                        <div class="swiper-slide">
                            <img src="{{ product.img1.url }}" class="img-thumbnail" /> 
                        </div>
                        {% endif %}
                        {% if product.img2 %}
                        <div class="swiper-slide">
                            <img src="{{ product.img2.url }}" class="img-thumbnail" /> 
                        </div>
                        {% endif %}
                        {% if product.img3 %}
                        <div class="swiper-slide">
                            <img src="{{ product.img3.url }}" class="img-thumbnail" /> 
                        </div>
                        {% endif %}
                        {% if product.img4 %}
                        <div class="swiper-slide">
                            <img src="{{ product.img4.url }}" class="img-thumbnail" /> 
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- product details -->
        <div class="col-sm-6 offset-sm-1">
            <div class="right-side">
                <div class="brand_name">{{ product.brand_name }}</div>
                    <div class="product_title">{{ product.product_title }}</div>
                    <div class="product_price">
                        <span class="selling_price"><strong><span>&#8377;</span>{{ product.selling_price }}</strong>
                        </span> &nbsp;
                        <span class="actual_price"><strike style='color: white;'><span>&#8377;</span>{{ product.actual_price }}</strike>
                        </span> &nbsp;
                        <span class="off_upto"><strong>{{ product.Calculate_Offer }}<span>% off</span></strong>
                        </span>
                    </div>
                    <div class="deal"><strong>Deal of The Day</strong></div> 
                <hr>
                <div class="detail">
                    <p class="product_discription" style="word-wrap: break-word;">{{ product.product_discription }}</p>
                    <br>
                    <br>
                {% if request.user.is_authenticated %}
                    {% if item_already_in_cart %}
                        <a href="{% url 'add-to-cart' %}">
                            <button type="button" class="btn btn-warning shadow px-5 py-2">Go to Cart</button>
                        </a>
                    {% else %}
                        <form action="/add-to-cart" class="d-inline">
                            <input type="hidden" name="prod_id" value="{{ product.id }}" id="prod_id">
                            <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
                        </form>
                    {% endif %}
                    <a href="{% url 'checkout' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>
                {% endif %}

                {% if not request.user.is_authenticated %}
                <form action="/add-to-cart" class="d-inline">
                    <input type="hidden" name="prod_id" value="{{ product.id }}" id="prod_id">
                    <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
                </form>
                <a href="{% url 'checkout' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>
                {% endif %}
                </div>
            </div>
            <div class="available_offers">
                <h5 class="mt-5">Available Offers</h5>
                <ul>
                    <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
                    <li>Special Price Get extra ₹3000 off (price inclusive of discount) 
                    <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
                    <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <br><br><br>


{% endblock content %} 



{% block page_js %}
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js files -->
    <script src="{% static 'app/js/product_detail.js' %}"></script>

{% endblock page_js %}