{% extends 'base.html' %}
{% load static %}
{% block title %}Career{% endblock title %}


{% comment %} {% block google_analytics %}
 <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-248379699-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-248379699-1');
    </script>
{% endblock google_analytics %} {% endcomment %}



{% block meta_tags %}
<meta name="keywords" content="johnnette technologies manufactures drone, quadcopter, Fixed Wing UAVs and other Micro Drones in India for Defence, Commercial and Industrial applications">
<meta name="description" content="johnnette technologies manufactures drone, quadcopter, Fixed Wing UAVs and other Micro Drones in India for Defence, Commercial and Industrial applications">
{% endblock meta_tags %}



{% block head %}
    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- custom css file link -->
    <link rel="stylesheet" href="{% static 'css/career.css' %}">

    <!-- to link header footer -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
{% endblock head %}
    


{% block page_css %}
{% endblock page_css %}



{% block content %}

    <!--================ banner ==================-->
    <section>
        <div class="head_banner">
            <div class="background_img banner">
                <div class="banner_text">
                    <div>
                        <h1>Discover Your New Career</h1>
                        <p style=" text-align: center;">
                            Explore Opportunities
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--========X======== banner ========X========-->
    <br><br><br>


    <!--============= job description five ===============-->   
    {% for post in post %}
        <section class="job">
            <div class="containerr">
                <div class="jobInfo">
                    <div class="box">
                        <div class="text">
                            <h3>{{ forloop.counter}}. &nbsp; {{ post.job_profile_name }}</h3>

                            {% if post.job_brief %}
                                <h4>Job Brief: - </h4>
                                <p>
                                    {{ post.job_brief|safe }}
                                </p>
                            {% endif %}
                            
                            {% if post.job_description %}
                                <h4>Job Description: - </h4>
                                <p>
                                    {{ post.job_description|safe }}</li>
                                </p>
                            {% endif %}

                            {% if post.responsibilities %}
                                <h4>Responsibilities: - </h4>
                                <p>
                                    {{ post.responsibilities|safe }}
                                </p>
                            {% endif %}

                            {% if post.desired_skill %}
                                <h4>Desired Skills: - </h4>
                                <p>
                                    {{ post.desired_skill|safe }}
                                </p>
                            {% endif %}

                            {% if post.qualification %}
                                <p><strong>Educational Experience : &nbsp;&nbsp;</strong> {{ post.qualification }}</p>
                            {% endif %}
                            <p><strong>Experience : &nbsp;&nbsp;</strong> {{ post.experience }}</p>
                            <p><strong>Location : &nbsp;&nbsp;</strong> {{ post.location }}</p>
                            <h4><strong>Number of openings : &nbsp;&nbsp;</strong> {{ post.number_of_openings }}</h4>
                            <p><strong>Submit Your Resume at : &nbsp;&nbsp;</strong> 
                                {{ post.first_email_address_to_which_resume_will_be_sent }}, &nbsp;
                                {% if post.second_email_address_to_which_resume_will_be_sent %}
                                    {{ post.second_email_address_to_which_resume_will_be_sent }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                {% if post.job_profile_picture %}
                    <div class="jobImg" style="background-image: url({{ post.job_profile_picture.url }}); background-size: cover; opacity: 1;">
                        <img style="visibility: hidden;" src="{{ post.job_profile_picture.url }}" class="img-fluid" alt="video-editor">
                    </div>
                {% endif %}
            </div>
        </section>
    {% endfor %}        
    <!--=======X====== job description five =======X======-->




    <br>
    <!--========X======== main content ==========X======-->
{% endblock content %}



{% block page_js %}


{% endblock page_js %}


{% static '' %}




















